body {
    background-color: green;
    font: 15pt Arial;
}
header {
    font-family: 'Arial Black';
    color: white;
    text-align: center;
}

section {
    font-family: 'Arial Black';
    background-color: white;
    padding: 15px;
    margin: auto;
    color: black;
    box-shadow:5px 3px 10px black;
    border-radius: 8px;
    width: 450px;
}

div{
    text-align: center;
    padding: 8px;;
}
footer {
    font-family: 'Arial Black';
    color: white;
    text-align: center;
}